#main-app, .product-page{
    width: 70%;
    margin: 0 auto
}

.products-list li{
    display: inline-block;
    margin-bottom: 100px
}

.product-item{
    width: 29%;
    margin: 20px 2%
}

.product-item img{
    width: auto;
    height: 150px
}