#main-app{
    width: 70%;
    margin: 0 auto
}

.product-page{
    margin-top:30px;
}

.product-page p{
    text-align: justify;
}

.products-list li{
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 30px;
}

.product-item{
    width: 29%;
    margin: 20px 2%;
}

.product-item img{
    width: auto;
    height: 150px;
    margin: 0 auto;
}

.btn-link{
    color:#777;
    text-decoration: underline;
}

ul {
    margin:0;
    padding: 0;
}

ul li{
    list-style: none;
    margin-top:30px;
}

.border-top{
    border-top:solid 1px #ccc;
    margin-top: 40px;
    padding-top: 10px;
}

.btn-remove{
    margin-left: 20px;
}